@import "./styles/fonts.css";
@import "./styles/variables.css";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-background);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}